body {
  padding: 50px;
  font: 14px "Ubuntu", Helvetica, Arial, sans-serif;

  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

a {
  color: #00B7FF;
}

nav {
  display: flex;
  letter-spacing: .05em;
  gap: .7em;
  margin-block-end: 1em;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  width: 50ch;
}

form>label {
  display: flex;
  justify-content: space-between;
}

button {
  margin-block-start: 2em;
  padding: .7em;
  width: 62%;
  margin: 0 auto;
  font-family: inherit;
}

button:hover {
  transition: all .1s ease-in-out;
  background: cadetblue;
  color: white;
  box-shadow: 1px 1px 3px 0px purple;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

tr {
  display: flex;
}

tr:first-child {
  border-block-end: .1em solid black;
}

tr>* {
  margin-inline: 1em;
  padding: .5em;
  flex: 1;
}

th:nth-child(2n+3) {
  flex: 2;
}

tr>*:last-child {
  flex: 5;
}

th {
  text-align: left;
}

footer {
  font-size: smaller;
}