<%- include('../partials/header') %>

<h2>Please enter the flight info</h2>

<form action="/flights" method="POST">
  <!-- airline -->
  <label>Name of Airline:
    <select name="airline">

      <!-- <input type="select" name="airline"> -->
      <option value="Lufthansa">Lufthansa</option>
      <option value="Emirates">Emirates</option>
      <option value="Northeast">Northeast</option>
    </select>

  </label>

  <!-- airport -->

  <!-- flightNo -->

  <!-- departsAt -->
</form>

<%- include('../partials/footer') %>